$background0: #b83209;
$background1: #c21a0a;
$background2: #ab0022;
$background3: #c20aba;
$background4: #a509b8;

$japaneseRed: #C70025;
$offWhite: rgb(230, 230, 230);
$grey: #cfcfcf;
$lightGrey: #f5f8fa;
$borderGrey: #e1e8ed;
$backgroundGrey: $lightGrey;
$youtubeGrey: #222;
$greyText: $youtubeGrey;
