$purple1: #c20aba;
$purple2: #a509b8;

$background0: darken(gray, 10%);
$background1: lighten(black, 15%);

$japaneseRed: #C70025;
$offWhite: rgb(230, 230, 230);
$grey: #cfcfcf;
$lightGrey: #f5f8fa;
$borderGrey: #e1e8ed;
$backgroundGrey: $lightGrey;
$youtubeGrey: #222;
$greyText: $youtubeGrey;
