$purple1: #c20aba;
$purple2: #a509b8;

$background0: darken(gray, 10%);
$background1: lighten(black, 15%);
$borderColour: white;

$primary-color-dark: #E64A19;
$primary-color:        #FF5722;
$primary-color-light:  #FFCCBC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF9800;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
