footer {
  background-color: $background0;
  color: white;
  height: $footerHeight;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.2em;
  box-sizing: border-box;
  position: relative;
  margin-top: -$footerHeight;
  border-top: 1px solid white;
  box-sizing: border-box;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  a {
    display: inline;
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }
  p {
    margin: 0;
    padding: 0;
  }
  span {
    vertical-align: middle;
    line-height: inherit;
    font-size: inherit;
  }
}
