.page-header {
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}

.character {
  text-align: center;
  margin-bottom: 5px;
  font-size: 3.6em;
  color: rgb(220, 220, 220);
}

.header-right {
  position: absolute;
  bottom: 0;
  right: 10%;
  h1 {
    margin-bottom: 0;
  }
}

.sun {
  background-color: $japaneseRed;
  border-radius: 50%;
  width: 50%;
  z-index: -1;
  left: 25%;
  position: absolute;
}
