.page-header {
  padding-top: 20px;
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: white;
  z-index: 0;
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}

.character {
  text-align: center;
  margin-bottom: 5px;
  font-size: 3.6em;
  z-index: 0;
  color: rgb(230, 230, 230);
}

.sun {
  width: 920px;
  height:920px;
  position: relative;
  top: -200px;
  background-color: $japaneseRed;
  border-radius: 50%;
  z-index: -1;
}

.background-text {
  position: absolute;
  z-index: 1;
  color: white;
  top: 18%;
  left: 90px;
  font-size: 360%;
  h1 {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 770px) {
  .sun {
    margin: 0 auto;
  }
  .character {
    position: absolute;
    top: 200px;
    left: 675px;
  }
}

@media (min-width: 684px) and (max-width: 769px) {
  .character {
    display: none;
  }
}

@media (max-width: 683px) {
  .page-header {
    display: none;
  }
}
