.sideways-list {
  padding: 0;
  width: 100%;
}

@media (min-width: 745px) {
  .sideways-list {
    li {
      display: inline-block;
      width: 24%;
      margin: 0;
      padding: 1%;
      box-sizing: border-box;
    }
  }
}

@media (max-width:744px) {
  .sideways-list {
    li {
      display: block;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
