nav {
  display: flex;
  height: $navbarHeight;
  background-color: $background3;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 100%;
  ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
  }
  li {
    flex: 0 1 13em;
    display: flex;
  }
  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a:hover {
    background-color: $background4;
  }
}

@media (max-width: 600px) {
  nav {
    h1 {
      display: none;
    }
    a {
      font-size: 1.1em;
    }
  }
}

@media (min-width: 601px) {
  nav {
    h1 {
      display: flex;
      align-items: center;
      padding: 0 20px;
      margin: 0;
      margin-right: 70px;
    }
    a {
      font-size: 1.23em;
    }
  }
}
