nav {
  display: flex;
  height: $navbarHeight;
  margin: 0 #{-$bodySidePadding};
  background-color: white;
  border-bottom: 2px solid #e8e8e8;
  h1 {
    padding: 0 5px;
    margin: 0;
    margin-right: 100px;
    height: 100%;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    width: 60%;
  }
  li {
    font-size: 1.25em;
    width: 33%;
  }
}
