section {
  width: $mainContentSize;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 20px;
  li {
    margin-top: 7px;
  }
  li:first-child {
    margin-top: 0;
  }
  border: 1px solid $borderGrey;
  border-radius: 5px;
}

.sub-section {
  border-bottom: 1px solid $borderGrey;
  padding: 10px;
  p {
    margin: 0 1%;
  }
  &:last-of-type {
    border: none;
  }
  h2 {
    background: $japaneseRed;
    border-radius: 6px;
    font-weight: normal;
    color: white;
    display: inline-block;
    padding: 10px;
  }
}

.section-header {
  padding-left: 10px;
  border-bottom: 1px solid $borderGrey;
}

.content {
  padding: 0 $bodySidePadding;
}

.links {
  button {
    margin: 0;
    background-color: $backgroundGrey;;
    padding: 0px;
    border: 1px solid darken($backgroundGrey, 10%);
    color: #C0133B;
  }
  button:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  button:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  a:hover {
    color: $backgroundGrey;
    background-color: #C0133B;
  }
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 589px) {
  section {
    width: 100%;
    border-left: none;
    border-right: none;
  }
  .content {
    padding: 0;
  }
  .sub-section {
    padding-left: 15px;
    padding-right: 15px;
  }
}
