$innerPadding: 8%;

section {
  width: $mainContentSize;
  background-color: $background1;
  font-size: 1.3em;
  font-weight: 100;
  color: white;
  li {
    margin-top: 7px;
  }
  li:first-child {
    margin-top: 0;
  }
  border-top: 1px solid $borderGrey;
  border-bottom: 1px solid $borderGrey;
  border-radius: 5px;
  div {
    padding-left: 1%;
    padding-right: 1%;
  }
}

.sub-section {
  border-bottom: 1px solid $borderGrey;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: $innerPadding;
  padding-right: $innerPadding;
  p {
    margin: 0 1%;
  }
  &:last-of-type {
    border: none;
  }
}

.section-header {
  padding-left: 20px;
  border-bottom: 1px solid $borderGrey;
}

.links {
  display: block;
  button {
    margin: 0;
    background-color: $background0;
    padding: 0px;
    border: 1px solid white;
    color: white;
  }
  button:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  button:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  a:hover {
    background-color: $background1;
  }
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 589px) {
  .sub-section {
    padding-left: 15px;
    padding-right: 15px;
  }
}
