.welcome {
  background: -moz-linear-gradient(-45deg,  rgba(200,0,37,1) 0%, rgba(198,149,158,1) 99%, rgba(198,151,159,0.99) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(200,0,37,1) 0%,rgba(198,149,158,1) 99%,rgba(198,151,159,0.99) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(200,0,37,1) 0%,rgba(198,149,158,1) 99%,rgba(198,151,159,0.99) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c80025', endColorstr='#fcc6979f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #DEDEDE;
  font-size: 1.5em;
  margin-left: 15%;
  padding: 1%;
  width: 70%;
  border-radius: 7px;
}
