@import "header";

body {
  margin: 0 20px;
}

.main-content {
  width: 68%;
  margin-left: 16%;
  min-width: 590px;
}

.project-section {
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid rgb(50, 50, 50);
  padding-top: 25px;
  padding-bottom: 25px;
  p {
    margin: 0 1%;
  }
  ul {
    margin-left: 2%
  }
  li {
    margin-top: 7px;
  }
  li:first-child {
    margin-top: 0;
  }
  &:first-of-type {
    border-top: 1px solid rgb(50, 50, 50);
  }
}

.sidebar {
  float: left;
  width: 15%;
  ul {
    padding: 0;
  }
  li {
    margin: 7px 0;
    list-style: none;
  }
}
