//variables
@import "colours";
@import "sizes";
//partials
@import "header";
@import "welcome";
@import "navbar";
@import "sections";
@import "skills";

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body {
  background-color: $backgroundGrey;
}

.affix {
  top: 0;
  position: fixed;
}

.affix + .content {
  margin-top: $navbarHeight + 20px;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a {
  color: inherit;
  display: block;
  padding: 5px;
  margin: 0;
  border-radius: inherit;
}
