//variables
@import "colours";
@import "sizes";
//partials
@import "header";
@import "welcome";
@import "navbar";
@import "resume";
@import "sections";

html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  background-color: $backgroundGrey;
}

.content {
  padding: 0 $bodySidePadding;
}

.affix {
  top: 0;
  position: fixed;
}

.affix + .content {
  margin-top: $navbarHeight + 20px;
}
