<div class="section-header">
  <h1>
    Resume
  </h1>
</div>
<div class="sub-section">
  <h2>
    Education
  </h2>
  <div>
    <h4>
      The University of British Columbia September 2009 - November 2014
    </h4>
    <p>
      Bachelor of Science in Computer Science and Mathematics
    </p>
  </div>
</div>
<div class="sub-section">
  <h2>
    Experience
  </h2>
  <div>
    <h4>
      SAP Labs Montreal January - December 2015
    </h4>
    <ul>
      <li>
        Review code and complete backlog items for native Android hands-free glass application.
      </li>
      <li>
        Created a hands-free augmented reality Android glass POC with 3D tracking via the MetaioSDK and 3D rendering with OpenGL ES
      </li>
      <li>
        Implemented functional UI tests for an iPad application using M-eux
      </li>
      <li>
        Client side development of hybrid iPad app with UI5 Javascript library and the Cordova
      </li>
      <li>
        Unit testing with QUnit and PhantomJS
      </li>
      <li>
        Automated tasks with Grunt
      </li>
    </ul>
  </div>
</div>
