<div class="section-header">
  <h1>
    Resume
  </h1>
</div>
<div class="sub-section">
  <h2>
    Education
  </h2>
  <div>
    <h4>
      The University of British Columbia September 2009 - November 2014
    </h4>
    <p>
      Bachelor of Science in Computer Science and Mathematics
    </p>
  </div>
</div>
<div class="sub-section">
  <h2>
    Experience
  </h2>
  <div>
    <h4>
      SAP Labs Montreal January - December 2015
    </h4>
    <ul>
      <li>
        Developed a native Android application running on glass devices for service technicians
      </li>
      <li>
        Led the creation of  a hands-free Android glass augmented reality POC demoing UI’s with object tracking features using MetaioSDK and OpenGL ES
      </li>
      <li>
        Wrote automated UI tests for an iPad application using M-EUX
      </li>
      <li>
        Developed in conjunction with industry clients  a hybrid iPad JavaScript UI5 and Cordova application in a co-innovation project
      </li>
      <li>
        Implemented unit tests with QUnit and PhantomJS
      </li>
      <li>
        Automated tasks such as unit tests with Grunt
      </li>
      <li>
        Used Git and GitHub for source code control, backlog item creation and tracking, and team collaboration
      </li>
    </ul>
  </div>
</div>
