<div class="section-header">
  <h1>
    Welcome!
  </h1>
</div>
<div class="sub-section">
  <h1>
    Takeru Komiya
  </h1>
  <div class="list-container">
    <ul class="sideways-list">
      <li>
        Web Developer
      </li>
      <li>
        Software Engineer
      </li>
      <li>
        Programmer
      </li>
      <li>
        Synonyms
      </li>
    </ul>
  </div>
  <p>Thanks for taking the time to check this page out. On this site, I'll list some of the stuff I've been tinkering with, the technologies they use, where you can see them live, and where you can find the repo! Enjoy,</p>
  <span class="signature">
    - Takeru
  </span>
</div>
