.page-header {
  padding-top: 20px;
  position: relative; }

.character {
  text-align: center;
  margin-bottom: 5px;
  font-size: 3.6em; }

.header-right {
  position: absolute;
  bottom: 0;
  right: 0; }
  .header-right h1 {
    margin-bottom: 0; }

body {
  margin: 0 20px; }

.main-content {
  margin: 0 5%; }

.project-section {
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #323232;
  padding-top: 25px;
  padding-bottom: 25px; }
  .project-section p {
    margin: 0 1%; }
  .project-section ul {
    margin-left: 2%; }
  .project-section li {
    margin-top: 7px; }
  .project-section li:first-child {
    margin-top: 0; }
  .project-section:first-of-type {
    border-top: 1px solid #323232; }
