.page-header {
  padding-top: 20px;
  position: relative;
  overflow: hidden; }

.character {
  text-align: center;
  margin-bottom: 5px;
  font-size: 3.6em;
  color: gainsboro; }

.header-right {
  position: absolute;
  bottom: 0;
  right: 10%; }
  .header-right h1 {
    margin-bottom: 0; }

.sun {
  background-color: #C70025;
  border-radius: 50%;
  height: 1000px;
  margin-top: -500px;
  width: 50%;
  z-index: -1;
  left: 25%;
  position: absolute; }

body {
  margin: 0 20px; }

.main-content {
  margin-top: 50px;
  width: 68%;
  margin-left: 16%;
  min-width: 590px; }

.project-section {
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #323232;
  padding-top: 25px;
  padding-bottom: 25px; }
  .project-section p {
    margin: 0 1%; }
  .project-section ul {
    margin-left: 2%; }
  .project-section li {
    margin-top: 7px; }
  .project-section li:first-child {
    margin-top: 0; }
  .project-section:first-of-type {
    border-top: 1px solid #323232; }

.sidebar {
  float: left;
  width: 15%; }
  .sidebar ul {
    padding: 0; }
  .sidebar li {
    margin: 7px 0;
    list-style: none; }
