html {
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
}

body, html, section, navbar {
  margin: 0;
  padding: 0;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

navbar {
  height: 80px;
  width: 100%;
  font-size: 0.667em;
  padding: 0 20px;
  background-color: white;
  top: 0;
  z-index: 4;
  font-family: Zilla Slab;
  line-height: 80px;
  text-align: center;
}

navbar .name {
  font-size: 20px;
  height: 100%;
  float: left;
}

navbar div {
  display: inline-block;
}

navbar .links {
  margin: 0 auto;
}

navbar .links ul {
  display: inline;
  margin: 0;
  padding: 0;
}

navbar .links li {
  margin: 0 15px;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
}

header {
  display: block;
  margin: 0;
  height: 500px;
  /* background image stuff */
  background-image: url("../images/DSCF1754.JPG");
  background-size: 2448px 1632px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.8;
}

header > div {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

header > div:hover {
  opacity: 0.9;
}

header .content {
  position: relative;
  padding: 32px 48px;
}

header .message {
  width: 500px;
  position: absolute;
  right: 10%;
}

section {
  padding: 128px;
}

section.philosophy {
  background-color: #455A64;
  color: white;
  height: 250px;
  position: relative;
}

section.philosophy div {
  margin: auto;
  position: absolute;
  height: 40px;
  width: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #454444;
  color: #FEFEFE;
  text-align: center;
  padding: 24px 128px;
  box-sizing: border-box;
}

footer .links-container {
  margin: 0 auto;
}

footer .title h1 {
  padding: 0;
  margin: 30px;
  font-size: 1.5em;
  font-weight: normal;
}

footer ul.social-media {
  padding: 0;
  margin: 0;
  display: inline-block;
}

footer .social-media a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

footer .social-media li {
  font-size: 0.8em;
  display: inline-block;
}

section.projects .header {
  text-align: center;
  margin-bottom: 100px;
}

section.projects .project {
  width: 500px;
  box-sizing: border-box;
  font-size: 0.8em;
}

section.projects .project .image {
  width: 100%;
  height: 500px;
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border-radius: 8px;
}

section.projects .project .image:hover {
  opacity: 0.7;
}


section.projects .project .image a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

section.projects .project .details {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: black;
  color: white;
  opacity: 0;
  transition: opacity 0.25s;
}

section.projects .project .details:hover {
  opacity: 0.85;
}

section.projects .project .summary {
  padding: 0 30px;
}

#pokemon-site {
  background-image: url("../images/eevee.png");
  background-color: orange;
}
